<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>MyCocos2DXClass</string>
	<key>Description</key>
	<string>a CCNode subclass with header written in c++</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.cpp</string>
	<key>Options</key>
	<array>
        <dict>
            <key>Description</key>
            <string>the name of the class to create</string>
            <key>Identifier</key>
            <string>productName</string>
            <key>Name</key>
            <string>Class Name</string>
            <key>NotPersisted</key>
            <true/>
            <key>Required</key>
            <true/>
            <key>Type</key>
            <string>text</string>
        </dict>
		<dict>
			<key>Default</key>
			<string>CCNode</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Identifier</key>
			<string>cocos2dxSubclassOption</string>
			<key>Name</key>
			<string>Subclass of</string>
            <key>NotPersisted</key>
            <true/>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
                <string>CCSprite</string>
                <string>CCNode</string>
                <string>CCLayer</string>
                <string>CCLayerColor</string>
                <string>CCScene</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>a c++ class with a header</string>
</dict>
</plist>
