# -*- mode: snippet; require-final-newline: nil -*-
# name: header
# key: header
# binding: direct-keybinding
# --
`(wolfand11/get-comment-str 48)`
`(wolfand11/get-comment-str 2)` @author `(user-full-name)`
`(wolfand11/get-comment-str 2)` @email  `(format "%s" user-mail-address)`
`(wolfand11/get-comment-str 2)` @date   `(format-time-string "<%Y-%m-%d %a>" (current-time))`
`(wolfand11/get-comment-str 48)`

$0
