<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Artist</key>
	<string>ţ</string>
	<key>Easy</key>
	<string>1</string>
	<key>Normal</key>
	<string>1</string>
	<key>Hard</key>
	<string>1</string>
	<key>GameCenterID</key>
	<string>0</string>
	<key>Genre</key>
	<string>Rock</string>
	<key>MediaName</key>
	<string>3.mp3</string>
	<key>SongName</key>
	<string>On The way</string>
	<key>Time</key>
	<string>120000</string>
	<key>iGB_Editor</key>
	<string>unknown editor</string>
	<key>BPM</key>
	<string>200</string>
</dict>
</plist>
