# -*- mode: snippet; require-final-newline: nil -*-
# name: jeykll_blog
# key: blog
# binding: direct-keybinding
# --
---
layout: post
title: "${1:Title}"
description: ""
category: "${2:Category}"
tags:[$3]
---
{% include JB/setup %}
$0